@font-face {
    font-family: 'Cafe24ClassicType';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24ClassicType/Cafe24ClassicType.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24ClassicType/Cafe24ClassicType.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24ClassicType/Cafe24ClassicType.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24ClassicType/Cafe24ClassicType.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24ClassicType/Cafe24ClassicType.ttf') format("truetype");
    font-display: swap;
}